.git/
.gitignore
target/
.tarpaulin.toml
ui/
docs/
.old/
*.log
.env
.env.*
!.env.example
!.env.test
tests/
*.md
!README.md
.tarpaulin*
coverage/
dist/
build/
.DS_Store
Thalamus*
.cargo/
vendor/
.github/
.devcontainer/
.devenv/
.direnv/
.pre-commit*
